@import "variables";
@import "mixins";

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: transparent;
  height: $header-height * 2;
  img {
    max-width: 15rem;
  }
}
.header-bg {
  align-items: center;
  background: url("../../assets/images/retro-bg-one.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
  width: 100%;
  @include breakpoint(xs) {
    padding: 2rem;
  }
  img {
    max-width: 70%;
  }
  h1 {
    font-family: $header-font;
    font-weight: $base-font-weight;
    color: $primary;
  }
  .header-content {
    background-color: $white;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    text-align: center;
    h2,
    h3 {
      margin: 0;
    }
    h1 {
      font-size: 6rem;
      @include breakpoint(sm) {
        font-size: 5rem;
      }
      @include breakpoint(xs) {
        font-size: 3rem;
      }
    }
    h2 {
      color: $black;
      font-size: 2.5rem;
      font-family: $base-font-family;
      @include breakpoint(sm) {
        font-size: 2rem;
      }
      @include breakpoint(xs) {
        font-size: 1.3rem;
      }
    }
    h3 {
      font-size: 1.3rem;
      font-family: $base-font-family;
      @include breakpoint(sm) {
        font-size: 1.2rem;
      }
      @include breakpoint(xs) {
        font-size: 1rem;
      }
    }
  }
}

button.mat-menu-item {
  text-transform: capitalize;
}
