<mat-toolbar id="header" fxLayout="row" fxLayoutAlign.lt-md="center center">
  <a href="#header">
    <img src="../../assets/images/tys-logo.png" alt="tech your seat logo" />
  </a>

  <span class="fill-remaining-space"></span>

  <div fxHide fxShow.gt-xs>
    <!-- <button mat-button>about</button>
    <button mat-button>event</button> -->
    <button mat-raised-button>
      <a href="mailto:techyourseat@googlegroups.com">Become a Sponsor</a>
    </button>
    <!-- <button mat-button>sponsors</button>
    <button mat-button mat-raised-button class="button-link">
      <a
        href="https://www.eventbrite.com/e/charlotte-women-in-tech-meet-greet-tickets-46532670470"
        target="_blank"
        >register
      </a>
    </button> -->
  </div>

  <div fxHide fxShow.xs>
    <mat-menu id="nav-menu" #appMenu="matMenu">
      <!-- <button mat-menu-item>about</button>
      <button mat-menu-item>event</button> -->
      <button mat-menu-item>
        <a href="mailto:techyourseat@googlegroups.com">Become a Sponsor</a>
      </button>
      <!-- <button mat-menu-item>sponsors</button> -->
      <!-- <button mat-menu-item>
        <a
          href="https://www.eventbrite.com/e/charlotte-women-in-tech-meet-greet-tickets-46532670470"
          target="_blank"
          >register
        </a>
      </button> -->
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>
<div class="header-bg">
  <div class="header-content">
    <h1>Save the Date!</h1>
    <h3>Sept 26th, 2019 | 5:30 - 8:30pm</h3>
    <h4>Details Coming Soon</h4>
  </div>
</div>
