@import "variables";
@import "mixins";

#about {
  // background-image: url("../../assets/images/retro-bg-two.jpg");
  background: url("../../assets/images/retro-bg-two.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-left {
  text-align: center;
  background-color: $white;
  padding: 0 2rem;
}

.about-image {
  width: 100%;
  margin: 0 auto;
  .about-groups {
    max-height: 400px;
    @include breakpoint(xs) {
      max-height: 300px;
    }
  }
}

h1 {
  font-family: $header-font;
  font-weight: $base-font-weight;
  color: $primary;
}
