@import "variables";
@import "mixins";

#about {
  h1 {
    text-align: center;
  }
  .about-us {
    @include breakpoint(gt-xs) {
      background-attachment: fixed;
      background-position: center;
      text-align: justify;
    }
    background: url("../../assets/images/retro6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    &-underlay {
      background-color: $underlay;
    }
  }

  .organizations {
    width: 100%;
    img {
      width: 100px;
      margin: $sub-baseline;
      @include breakpoint(gt-xs) {
        width: 180px;
        margin: $baseline * 2;
      }
    }
  }
}
