<mat-toolbar id="header" fxLayout="row" fxLayoutAlign.lt-md="center center">
  <a href="#header" routerLink="/">
    <img src="../../assets/images/tys-logo.png" alt="tech your seat logo" />
  </a>

  <span class="fill-remaining-space"></span>

  <!-- Desktop view -->
  <div fxHide fxShow.gt-sm>
    <a mat-button routerLink="/">
      Home
    </a>
    <a mat-button routerLink="/about">
      About Us
    </a>
    <!-- <button mat-button routerLink="/events">
      Upcoming Events
    </button> -->
    <a mat-button routerLink="/get-involved">
      Get Involved
    </a>
    <a
      mat-button
      mat-raised-button
      href="https://www.eventbrite.com/e/2nd-annual-techyourseat-clt-event-tickets-68892869427"
      target="_blank"
    >
      Register
    </a>
  </div>

  <!-- Mobile view -->
  <div fxHide fxShow.xs fxShow.sm>
    <mat-menu id="nav-menu" #appMenu="matMenu">
      <a mat-button routerLink="/">
        Home
      </a>
      <a mat-button routerLink="/about">
        About Us
      </a>
      <!-- <button mat-button routerLink="/events">
        Upcoming Events
      </button> -->
      <a mat-button routerLink="/get-involved">
        Get Involved
      </a>
      <a
        mat-button
        mat-raised-button
        href="https://www.eventbrite.com/e/2nd-annual-techyourseat-clt-event-tickets-68892869427"
        target="_blank"
      >
        Register
      </a>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>
