html {
  box-sizing: border-box;
  line-height: 1.18;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include breakpoint(gt-xs) {
    font-size: $baseline;
  }
  font-size: $sub-baseline * 1.6;
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}
h1 {
  font-size: $base-font-size * 1.5;
  margin: 0 0 1rem 0;
  @include breakpoint(gt-xs) {
    font-size: $base-font-size * 2;
  }
}
h2 {
  font-size: $baseline * 1.5;
}
hr {
  width: 50%;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  text-transform: capitalize;
}
.mat-raised-button:not([class*="mat-elevation-z"]) {
  background-color: $primary;
  text-transform: capitalize;
  a {
    color: $white;
  }
}

a {
  text-decoration: none;
}
