@import "variables";
@import "mixins";

.home {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  background: url("../../assets/images/retro5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  p {
    font-size: $base-font-size * 2;
    margin: 0 0 1rem 0;
  }
  a:first-of-type {
    font-weight: 700;
  }
  a:last-of-type {
    color: $white;
    margin: 1rem;
  }
  &-underlay {
    background-color: $underlay;
    @include breakpoint(gt-xs) {
      p {
        font-size: $base-font-size * 4;
      }
      span,
      a {
        font-size: $base-font-size * 1.2;
      }
    }
  }
}

.home-quote {
  background: rgb(138, 82, 255);
  background: linear-gradient(
    315deg,
    rgba(138, 82, 255, 1) 0%,
    rgba(149, 101, 249, 1) 35%,
    rgba(179, 147, 245, 1) 100%
  );
  text-align: center;
  font-size: $base-font-size;
  h1 {
    color: white;
    font-size: $base-font-size;
    @include breakpoint(gt-xs) {
      font-size: $base-font-size * 2;
    }
  }
}

.home-imgs {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  background: url("../../assets/images/retro7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    margin: 0 0 2rem 0;
  }
  .mat-paginator {
    border-color: rgba(138, 82, 255, 0.9);
  }
}

img {
  max-height: 300px;
  max-width: 100%;
  margin-left: 8px;
  margin-bottom: 8px;
}
