<div id="home">
  <div class="home pa4" fxLayout="column">
    <div
      class="home-underlay pa4"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <p>Save the date!</p>
      <span class="pa2">
        <strong>October 3rd, 2019 | 5:30 - 8:30pm</strong>
      </span>
      <a
        class="location pa2"
        target="_blank"
        href="https://www.google.com/maps/place/GoodRoad+CiderWorks/@35.184917,-80.881635,17z/data=!4m12!1m6!3m5!1s0x88569f23b508d0a7:0xb59575e3729602e9!2sGoodRoad+CiderWorks!8m2!3d35.184917!4d-80.879441!3m4!1s0x88569f23b508d0a7:0xb59575e3729602e9!8m2!3d35.184917!4d-80.879441?shorturl=1"
      >
        GoodRoad CiderWorks
      </a>
      <a
        class="register pa2"
        mat-button
        mat-raised-button
        href="https://www.eventbrite.com/e/2nd-annual-techyourseat-clt-event-tickets-68892869427"
        target="_blank"
      >
        Register
      </a>
    </div>
  </div>
  <div class="home-quote" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="pa5">
      <i
        >We are the Charlotte women in tech groups whose goal is to cultivate a
        centralized movement of increased diversity in the Charlotte
        community.</i
      >
    </h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="sponsors pa4" fxLayout="column" fxLayoutAlign="center center">
      <h1>Our Sponsors</h1>
      <p>
        #techyourseat would not be possible without donations from our generous
        sponsors!
      </p>
      <p>Click on each logo for more information about the company.</p>
    </div>
    <div class="sponsors" fxLayout="row wrap" fxLayoutAlign="center center">
      <div *ngFor="let item of sponsors">
        <a class="container" href="{{ item.url }}" target="_blank">
          <img src="{{ item.img }}" alt="Avatar" class="image" />
        </a>
      </div>
    </div>
  </div>
  <div class="home-imgs pa4" fxLayout="column" fxLayoutAlign="center center">
    <h1>#techyourseat 2018</h1>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <ng-container *ngFor="let image of data">
        <img [src]="image.url" />
      </ng-container>
    </div>
    <mat-paginator
      [length]="data2.length"
      [pageSize]="size"
      [pageIndex]="page"
      [pageSizeOptions]="[4, 8, 12]"
      (page)="getData($event)"
    >
    </mat-paginator>
  </div>
</div>
