@import "variables";
@import "mixins";

.home {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  background: url("../../assets/images/retro5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  &-underlay {
    background-color: $underlay;
    @include breakpoint(gt-xs) {
      p {
        font-size: $base-font-size * 4;
      }
      span,
      a {
        font-size: $base-font-size * 1.2;
      }
    }
  }
  p {
    font-size: $base-font-size * 2;
    margin: 0 0 1rem 0;
  }
  .location {
    color: $primary;
  }
  .register {
    color: $white;
    font-size: $base-font-size;
  }
}

.home-quote {
  background: rgb(138, 82, 255);
  background: linear-gradient(
    315deg,
    rgba(138, 82, 255, 1) 0%,
    rgba(149, 101, 249, 1) 35%,
    rgba(179, 147, 245, 1) 100%
  );
  text-align: center;
  font-size: $base-font-size;
  h1 {
    color: white;
    font-size: $baseline * 1.3;
    @include breakpoint(gt-xs) {
      font-size: $baseline * 2;
    }
  }
}

.sponsors {
  width: 100%;
  h1 {
    color: $primary;
    text-shadow: 1px -1px #202020;
    font-size: $baseline * 1.5;
    font-weight: 700;
    @include breakpoint(gt-xs) {
      font-size: $baseline * 3;
    }
  }
  img {
    width: 100px;
    margin: $sub-baseline;
    @include breakpoint(gt-xs) {
      width: 180px;
      margin: $baseline * 2;
    }
  }
}

.home-imgs {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  @include breakpoint(xs) {
    img {
      max-height: 100px;
    }
  }
  background: url("../../assets/images/retro5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    color: $accent;
    text-shadow: 1px -1px #fff;
    font-size: $baseline * 1.5;
    font-weight: 700;
    @include breakpoint(gt-xs) {
      font-size: $baseline * 3;
    }
  }
}

img {
  max-height: 300px;
  max-width: 100%;
  margin-left: 8px;
  margin-bottom: 8px;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: center;
  background: $accent;
}
