@import "variables";
@import "mixins";

#sponsors {
  text-align: center;
  padding: 4rem;
  background: url("../../assets/images/retro-bg-three.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @include breakpoint(xs) {
    padding: 2rem;
  }
}

.sponsor-content {
  background-color: $white;
  padding: 1rem;
}

img {
  max-width: $baseline * 25;
  padding-bottom: 1rem;
  @include breakpoint(xs) {
    max-width: $baseline * 16;
  }
}

h1 {
  font-family: $header-font;
  font-weight: $base-font-weight;
  color: $primary;
}
