@import "variables";
@import "mixins";

.involvement,
.sponsor {
  text-align: center;
  .involvement-underlay,
  .sponsor-underlay {
    background-color: $underlay;
  }
}
.involvement {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  background: url("../../assets/images/retro4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sponsor {
  @include breakpoint(gt-xs) {
    background-attachment: fixed;
    background-position: center;
  }
  background: url("../../assets/images/retro3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.past-sponsors {
  width: 100%;
  h1 {
    margin: 0;
  }
  img {
    width: 95px;
    margin: $sub-baseline;
    @include breakpoint(gt-xs) {
      width: 180px;
      margin: $baseline * 2;
    }
  }
}
a {
  color: $white;
}
